@mixin cardInfos($flexdir, $boRad, $boLeft: null, $boRight: null){
    display: flex;
    flex-direction: $flexdir;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 0 4%;
    padding: 1% 1%;
    border: 4px solid black;
    border-radius: $boRad;
    border-top: none;
    
    @if ($boLeft != null) {
        border-left: $boLeft;
    }

    @if ($boRight != null) {
        border-right: $boRight;
    }


    &-txt{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
        transition: ease-in-out 500ms;

        h3{
            padding:1%;
            font-size: 25px;
        }
        h4{
            cursor: pointer;

            &:hover{
                transform: scale(1.2);
                transition: ease-in-out 500ms;
            }
        }
        p{
            padding:1%;
        }
    }
}

@mixin btnFooter(){
    transition: ease-in-out 500ms;
    padding: 4vh 4vw;
    background-color: ivory;
    font-size: 20px;
    color: #251A06;
    text-decoration: none;

    &:hover{
        background-color: #ED1D24;
        color: ivory;
        transition: ease-in-out 500ms;
        border-radius: 25px;
    }
}

@mixin responsive($width){
    @media screen and (max-width:$width) {
        @content;
    }
}