* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: segoe UI;
  scroll-behavior: smooth;
}

header #banner {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}
header .bienvenue {
  position: absolute;
  top: 45vh;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 0 25px 25px 0;
  animation: bvnSlide 2s ease;
}
header .bienvenue-txt {
  padding: 5px 20px;
  animation: bvnTxt 4s ease;
}
header .bienvenue img {
  width: 8vw;
}
@media screen and (max-width: 1117px) {
  header .bienvenue img {
    width: 15vw;
  }
}

@keyframes bvnSlide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes bvnTxt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#navbar {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  z-index: 2;
}
#navbar img {
  width: 10%;
}
@media screen and (max-width: 1117px) {
  #navbar img {
    width: 20%;
  }
}
#navbar .nav ul {
  display: flex;
  gap: 10px;
}
#navbar .nav a {
  text-decoration: none;
}
#navbar .nav li {
  color: black;
  list-style: none;
  font-weight: bold;
}

.sep {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0;
  gap: 4%;
  margin: auto;
}
.sep h2 {
  font-size: 80px;
  font-weight: 900;
}
@media screen and (max-width: 1117px) {
  .sep img {
    width: 25vw;
  }
}

.cardInfos1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 0 4%;
  padding: 1% 1%;
  border: 4px solid black;
  border-radius: 25px 0;
  border-top: none;
  border-left: none;
}
.cardInfos1-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  transition: ease-in-out 500ms;
}
.cardInfos1-txt h3 {
  padding: 1%;
  font-size: 25px;
}
.cardInfos1-txt h4 {
  cursor: pointer;
}
.cardInfos1-txt h4:hover {
  transform: scale(1.2);
  transition: ease-in-out 500ms;
}
.cardInfos1-txt p {
  padding: 1%;
}

.cardInfos2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 0 4%;
  padding: 1% 1%;
  border: 4px solid black;
  border-radius: 0 25px;
  border-top: none;
  border-right: none;
}
.cardInfos2-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  transition: ease-in-out 500ms;
}
.cardInfos2-txt h3 {
  padding: 1%;
  font-size: 25px;
}
.cardInfos2-txt h4 {
  cursor: pointer;
}
.cardInfos2-txt h4:hover {
  transform: scale(1.2);
  transition: ease-in-out 500ms;
}
.cardInfos2-txt p {
  padding: 1%;
}
.cardInfos2 p {
  display: none;
  transition: ease-in-out 500ms;
}
.cardInfos2 #jubP {
  display: block;
}

.imgInfos {
  height: 50vh;
  width: 40vw;
  object-fit: cover;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 80%;
  margin: 0 auto;
}

.tofCard {
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tofCard img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.tofCard h2 {
  padding: 20px;
  font-size: 24px;
}
.tofCard:hover {
  transform: scale(120%);
  transition: 200ms ease-in;
}

footer {
  margin-top: 8vh;
  background-color: #004180;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 10vh;
  grid-template-areas: "titre sous-titre sous-titre" "siteOff maps monInsta" "navFooter navFooter navFooter";
}
footer h2 {
  grid-area: titre;
  font-size: 80px;
  font-weight: 900;
  color: ivory;
  padding: 4vh 2vw;
}
footer h3 {
  grid-area: sous-titre;
  color: ivory;
}
footer #siteOff {
  grid-area: siteOff;
  transition: ease-in-out 500ms;
  padding: 4vh 4vw;
  background-color: ivory;
  font-size: 20px;
  color: #251A06;
  text-decoration: none;
}
footer #siteOff:hover {
  background-color: #ED1D24;
  color: ivory;
  transition: ease-in-out 500ms;
  border-radius: 25px;
}
footer #maps {
  grid-area: maps;
  transition: ease-in-out 500ms;
  padding: 4vh 4vw;
  background-color: ivory;
  font-size: 20px;
  color: #251A06;
  text-decoration: none;
}
footer #maps:hover {
  background-color: #ED1D24;
  color: ivory;
  transition: ease-in-out 500ms;
  border-radius: 25px;
}
footer #monInsta {
  grid-area: monInsta;
  transition: ease-in-out 500ms;
  padding: 4vh 4vw;
  background-color: ivory;
  font-size: 20px;
  color: #251A06;
  text-decoration: none;
}
footer #monInsta:hover {
  background-color: #ED1D24;
  color: ivory;
  transition: ease-in-out 500ms;
  border-radius: 25px;
}
footer .navFooter {
  border-top: 3px solid ivory;
  grid-area: navFooter;
  width: 100%;
  text-align: center;
  margin-top: 5vh;
}
footer .navFooter a {
  padding: 0 3vw;
  color: ivory;
}

/*# sourceMappingURL=build.css.map */
